In [12]:
import pandas as pd
dataset=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
dataset = dataset.rename(columns={'39': 'Age', ' State-gov': 'WorkClass', ' 77516': 'fnlwgt', ' Bachelors': 'Education', ' Never-married': 'Marriage Status', ' Adm-clerical': 'Occupation', ' Not-in-family': 'Relationship', ' White': 'Race', ' Male': 'Gender', ' 2174': 'Capital Gain', ' 0': 'Capital Loss', ' 40': 'Hours Worked Per Week', ' United-States': 'Country of Origin', ' <=50K': 'Income'})

display(dataset)
dataset.shape
dataset.head()
dataset.columns

,Age,WorkClass,fnlwgt,Education,13,Marriage Status,Occupation,Relationship,Race,Gender,Capital Gain,Capital Loss,Hours Worked Per Week,Country of Origin,Income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Index(['Age', 'WorkClass', 'fnlwgt', 'Education', ' 13', 'Marriage Status',
       'Occupation', 'Relationship', 'Race', 'Gender', 'Capital Gain',
       'Capital Loss', 'Hours Worked Per Week', 'Country of Origin', 'Income'],
      dtype='object')