# Ved Ballary

## What is the relationship between age, education level, job/job position.

Initially, I wanted to do something related to income. However, while cleaning up the dataset, I noticed that a lot of people had a max education level of high school. That is when I decided that I wanted to see if there was any correlation between age, and the level of education people had. And, if this level of education affected their job / job position.

In [4]:
import project_functions2
df = project_functions2.load_and_process("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
df

,Age,Industry,Education,Marital Stat,Position,Race,Gender,Country,Income
22479,17,Private,9th,Never-married,Craft-repair,White,Male,United-States,<=50K
27035,17,Private,10th,Never-married,Priv-house-serv,White,Male,United-States,<=50K
3604,17,Private,10th,Never-married,Other-service,Amer-Indian-Eskimo,Female,United-States,<=50K
26089,17,Self-emp-not-inc,12th,Never-married,Handlers-cleaners,White,Male,United-States,<=50K
3617,17,Private,HS-grad,Never-married,Other-service,White,Male,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
14158,90,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Asian-Pac-Islander,Male,Philippines,<=50K
12974,90,Private,10th,Married-civ-spouse,Exec-managerial,White,Male,United-States,<=50K
24237,90,?,1st-4th,Widowed,?,Black,Female,United-States,<=50K
32276,90,Private,HS-grad,Widowed,Adm-clerical,White,Female,United-States,<=50K
11995,90,Private,Bachelors,Never-married,Exec-managerial,White,Male,United-States,<=50K