# Aaron Deo

## Does Gender and Race affect earnings?

In today's society we face a lot of new found social issues surrounding gender and race. I wanted to examine the questions surrounding these social issues and discover if it is true that race and gender affect overall income. My initial hypothese was that since this survey was taken in the United States, whtle men would have a higher chance of making more money over any other gender, race combination.

In [1]:
import project_functions2
df = project_functions2.load_and_process("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
df.to_csv("dataprocessed2.csv")
df

,Age,Industry,Education,Marital Stat,Position,Race,Gender,Country,Income
0,17,Private,9th,Never-married,Craft-repair,White,Male,United-States,<=50K
1,17,Private,10th,Never-married,Priv-house-serv,White,Male,United-States,<=50K
2,17,Private,10th,Never-married,Other-service,Amer-Indian-Eskimo,Female,United-States,<=50K
3,17,Self-emp-not-inc,12th,Never-married,Handlers-cleaners,White,Male,United-States,<=50K
4,17,Private,HS-grad,Never-married,Other-service,White,Male,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
21251,90,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Asian-Pac-Islander,Male,Philippines,<=50K
21252,90,Private,10th,Married-civ-spouse,Exec-managerial,White,Male,United-States,<=50K
21253,90,?,1st-4th,Widowed,?,Black,Female,United-States,<=50K
21254,90,Private,HS-grad,Widowed,Adm-clerical,White,Female,United-States,<=50K
21255,90,Private,Bachelors,Never-married,Exec-managerial,White,Male,United-States,<=50K

# Analysis Pipeline

How to create the same Dataset:
1. Importing
    * Import numpy, pandas, matplotlib and seaborn
    * Import the csv at https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data using pandas and matplotlib, make sure to include skipinitialspace as there is one in this dataset
1. Clean data
    * Fill empty values with NaN and drop those values
    * Drop any duplicates that may exist
1. Wrangle/Process Data
    * Drop unecessary columns like Capital Gains Losses and family relationship
    * Rename the columns of the dataset since the first row does not include the catagories for each column
    * Sorting the age by ascending order, makes age based graphs more easier and allows us to see max and min age
    * Be sure to reset index and drop the newly created index column
1. Wrangle/Graphing
    * Create a countplot for Income 
    * Create a countplot for Gender
    * Create a dist plot for Age
    * Create a value count graph for Race

Note: Sometimes you may get an error like "Tuple does not support attribute head", to fix this simply restart Jupyter Lab.

# See Aaron.ipynb for EDA and Graphs